<header class="header">
  <div class="header__logo">
    <img src="./img/Logo.webp" alt="logo" />
  </div>
  <nav>
    <ul class="header__nav">
      <li><a class="nav" href="#">Home</a></li>
      <li><a class="nav" href="#">Portfolio</a></li>
      <li><a class="nav" href="#">Skills</a></li>
      <li><a class="nav" href="#">About Me</a></li>
    </ul>
  </nav>
  <div class="header__info">
    <button type="button" id="withThemeToggle"></button>
    <a href="#">Contact me</a>
  </div>
</header>
