$desktop: 1560px;
$desktop-s: 1400px;
$tablet: 1054px;
$mobile: 510px;


@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin desktop-s {
    @media (max-width: $desktop-s) {
        @content;
    }
}

@mixin range {
    @media (max-width: $desktop) and (min-width: $tablet) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

%flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex__space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a,
button {
    text-decoration: none;
    border: none;
}

.bg {
    background: var(--background);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1560px;
}

.header {
    @extend %flex__space-between;
    height: 120px;
    padding-bottom: 60px;
}

.header__logo img {
    filter: var(--invert);
}

.header__nav {
    @extend %flex__space-between;

    gap: 30px;

    li a {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: var(--color-text);
    }

}

.header__info {
    @extend %flex__space-between;
    gap: 20px;

    button {
        border-radius: 32px;
        padding: 4px;
        width: 56px;
        height: 32px;
        background-image: var(--background-image-a);
        background-size: contain;
        background-repeat: no-repeat;

    }

    a {
        @extend %flex__center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.05em;
        text-transform: capitalize;
        color: #fff;

        background: var(--background-button);
        border-radius: 4px;
        min-width: 133px;
        min-height: 40px;
    }
}


.hero {
    display: flex;
    padding-bottom: 153px;

    @include tablet {
        justify-content: center;
        align-items: center;
    }
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;

    @include range {
        gap: 20px;
    }
}


.hero__title {
    max-width: 660px;
    padding: 41.5px 0 30px 0;

    h1 {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 200px;
        line-height: 90%;
        letter-spacing: -0.03em;
        color: var(--color-text);
        padding-bottom: 18px;

        @include range () {
            font-size: (calc(120px + (200 - 120) * (100vw - 1054px) / (1560 - 1054)));
        }
    }

    p {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 114px;
        line-height: 90%;
        letter-spacing: -0.03em;
        background: linear-gradient(90deg, #fa709a 0%, #fee140 100%);
        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;
        display: inline;
        text-wrap: nowrap;

        @include range() {
            font-size: (calc(67px + (114 - 67) * (100vw - 1054px) / (1560 - 1054)));
        }
    }
}



.hero__contact {
    @extend %flex__space-between;

    &-link img {
        filter: var(--invert);
    }

}

.hero__button {
    @extend %flex__center;
    min-height: 52px;
    background: #292929;
    gap: 8px;

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #fff;
    }

}



.hero__portal {
    padding: 41.5px 19px 0 0;

    @include tablet() {
        @include visually-hidden;
    }


    svg path {
        fill: var(--color-text)
    }
}

.hero__img {
    max-width: 694px;
    height: auto;

    @include tablet() {
        @include visually-hidden;
    }

    img {
        width: 100%;
        height: auto;
    }
}


// ---------------------
.pd {
    padding-bottom: 210px;
}

.statistics {
    border: 1px solid var(--border-stat);
    background: var(--background-stat);
    border-radius: 29px;
    padding: 82px 100px;


    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding: 82px 50px;
    }
}

.statistics__text {
    display: flex;
    flex-direction: column;
    gap: 21px;

    .statistics__title {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: clamp(64px, 8.205vw, 128px);
        line-height: 90%;
        text-transform: uppercase;
        color: var(--color-stat-text);
        text-align: center;

        display: flex;
        justify-content: center;
    }

    .statistics__subtext {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: clamp(22px, 2.3vw, 36px);
        line-height: 100%;
        letter-spacing: -0.05em;
        color: var(--color-stat-text);

        display: flex;
        justify-content: center;

    }
}

.statistics__icon {
    @include tablet() {
        @include visually-hidden;
    }
}

.statistics__icon svg path {
    stroke: var(--color-stat-text);
}

// ----------------------------

.portfolio {
    padding-bottom: 200px;
}

h3 {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-title);

}

.portfolio-pd {
    padding-bottom: 36px;
}

.portfolio__card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


    &-item {
        border: 1px solid #737373;
        border-radius: 10px;
        padding: 30px;
        max-width: 360px;
        height: auto;
        background: var(--background-card);
        display: flex;
        gap: 23px;
        flex-direction: column;
    }
}

.portfolio__card-img {
    border-radius: 10px;
    max-width: 300px;
    height: auto;

}

.portfolio__card-text {
    h4 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: var(--color-text);
        padding-bottom: 21px
    }
}

.portfolio__card-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    a {
        border: 1px solid #be9ff6;
        border-radius: 12px;
        padding: 4px 8px;
        width: 84px;
        height: 24px;
        background: #e9dffc;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #784dc7;
        text-wrap: nowrap;
    }
}

.portfolio__card-button {
    @extend %flex__center;

    min-width: 300px;
    min-height: 40px;
    background: #292929;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: capitalize;
    color: #fff;
}

// ----------------------------------


.skills {
    padding-bottom: 200px;

    .skills-pd {
        padding-bottom: 50px;
    }
}

.skills__card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &-item {
        border: 1px solid #737373;
        border-radius: 10px;
        padding: 40px 50px 60px 40px;
        max-width: 755px;
        height: auto;
        background: var(--background-card);
        display: flex;
        gap: 20px;

    }
}

.skills__card-stat {
    position: relative;

    .svg-bg {
        fill: var(--background-card)
    }

    span {
        position: absolute;
        margin: 0 auto;
        top: 42%;
        left: 37%;
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: var(--color-text);
    }
}

.skills__card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.skills__card-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: var(--color-text)
}

.skills__card-subtext {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: var(--color-text);
}


// ---------------------------------------
.blockquote-pg {
    background-image: var(--background-blockquote);
    background-repeat: no-repeat
}

.flex-center {
    @extend %flex__center;
}

.blockquote {
    @extend %flex__center;
    flex-direction: column;
    gap: 60px;
    padding: 147px 0;
    max-width: 1094px;

    p {
        font-family: var(--font3);
        font-weight: 600;
        font-size: 48px;
        line-height: 105%;
        letter-spacing: -0.05em;
        color: #fff;
    }

    span {
        font-family: var(--font3);
        font-style: italic;
        font-weight: 700;
        font-size: 48px;
        line-height: 105%;
        letter-spacing: -0.05em;
        color: #fff;
    }
}

// ------------------------

.about {
    padding: 200px 0 343px 0;
}

.about__card {
    display: flex;
}

.revers {
    flex-direction: row-reverse;
}

.about-left {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
}

.about__title {
    @extend %flex__center;
    gap: 38px;
    padding-bottom: 76px;

    a svg path {
        stroke: var(--color-title)
    }
}

.about__subtext {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: var(--color-text);
    max-width: 665px;

    &-first {
        background: linear-gradient(90deg, #fa709a 0%, #fee140 100%);
        background-clip: text;
        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;
    }

    &-second--top {
        background: var(--background-second-top);
        background-clip: text;
        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;
    }

    &-second--boottom {
        background: var(--background-second-top);
        background-clip: text;
        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;
    }

}

.about__subtext-third {
    flex: 0 1 50%;
    display: flex;
    align-items: center;

    &--top {
        background: var(--background-third--top);
        background-clip: text;
        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;
    }

    &--boottom {
        background: linear-gradient(89deg, #ffe76a 19.79%, #65c8ff 23.44%, #65c8ff 50%, #65c8ff 71.88%, #f00 71.89%);
        background-clip: text;
        --webkit-background-clip: text;
        --webkit-text-fill-color: transparent;
    }
}

.about-right {
    flex: 0 1 50%;
    position: relative;

    img {
        width: 100%;
    }

    .about__right-svg-first {
        position: absolute;
        top: 13%;
        left: 24%;
    }

    .about__right-svg-third {
        position: absolute;
        top: 16px;
        right: 30.25px;
    }

    .position {
        position: absolute;
        top: 0;
        right: 0;
    }

    .about__right-svg-second {
        display: var(--display);
        position: absolute;
        top: 5%;
        left: 22%;

    }
}

// ----------------------------------------------
.padding {
    padding: 146px 0 47px 0;
    background: #292929;
}

.footer-bg {
    background: #292929;
}

.border {
    border-bottom: 1px solid #e6e6e6;
}

.footer {
    position: relative;
}

.footer-pos {
    display: flex;
    position: absolute;
    top: -236px;
    left: 0;
}

.footer__top {
    background: #a87ff3;
    border-radius: 15px;
    height: 180px;
    position: relative;
    flex: 0 0 100%;



    &-left {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    &-img {
        position: absolute;
        bottom: 0;
        left: -32px;
        z-index: 4;
    }

    &-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    p {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #fff;
        max-width: 1011px;
        margin: 0 auto;
        padding: 68px 0 68px 50px;
    }
}

.footer__bottom {
    @extend %flex__space-between;


}

.footer__logo {
    width: 164px;
    height: 60px;
    margin-bottom: 29.62px;

    img {
        width: 100%;
        height: 100%;
    }
}

.footer__nav {

    @extend %flex__space-between;
    gap: 30px;

    .text-nav {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #fff;
    }
}