@font-face {
    font-family: "SF Pro Display";
    src: url(../fonts/Commissioner-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: url(../fonts/Commissioner-Medium.woff2);
    font-weight: 500;
}