$desktop: 1541px;
$desktop-s: 1491px;
$tablet: 1023px;
$tablet-above: 1025px;
$mobile-above: 1024px;
$mobile: 986px;
$mobile-s: 928px;


@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin desktop-s {
    @media (max-width: $desktop-s) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}


@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile-s {
    @media (max-width: $mobile-s) {
        @content;
    }
}

@mixin hover($hasActiveEffectOnMobile: true) {

    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }


    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}