<footer class="footer background">
  <div class="swiper-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-top1.png"
          alt="Краска"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="card"
          src="../img/slider-top2.png"
          alt="Кофе"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-top3.png"
          alt="Телевизор"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-top4.png"
          alt="Отель"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-top5.png"
          alt="Подарочный сертификат"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <div class="swiper-bootom">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-bottom1.png"
          alt="Краска"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-bottom2.png"
          alt="Краска"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-bottom3.png"
          alt="Краска"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-bottom4.png"
          alt="Краска"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-slide"
          class="card"
          src="../img/slider-bottom5.png"
          alt="Краска"
          width="411"
          height="280"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</footer>
