<header class="header">
  <div class="container header-container">
    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a class="header__menu-link menu-item-svg" href="index.html"
            >Направления
            <svg
              width="5"
              height="12"
              viewBox="0 0 5 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 5.99998C5 6.13948 4.95927 6.27911 4.87792 6.38561L2.79459 9.11288L0.711272 11.8401C0.54846 12.0533 0.284816 12.0533 0.122109 11.8401C-0.0405988 11.627 -0.0407029 11.2819 0.122109 11.0689L3.99417 5.99998L0.122108 0.931074C-0.0407034 0.717938 -0.0407034 0.372801 0.122108 0.159801C0.28492 -0.0531985 0.548564 -0.0533348 0.711272 0.159801L4.87792 5.61434C4.95927 5.72084 5 5.86048 5 5.99998Z"
                fill="white"
              />
            </svg>
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="index.html">Портфолио</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="index.html">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header__button">
      <button type="button" class="button">Войти</button>
      <button type="button" class="header__button-registration button">
        Регистрация
      </button>
    </div>
    <button
      class="header__burger-button burger-button visible-mobile"
      type="button"
      onclick="mobileOverlay.showModal()"
    >
      <span class="visually-hidden">Открыть новигационное меню</span>
    </button>
  </div>
</header>
