<main>
  <section class="hero">
    <img
      class="hero__gradient"
      src="../img/gradient.png"
      alt="Телевизор"
      loading="lazy"
      width="1310"
      height="648"
    />

    <div class="container hero__title">
      <h1>
        Почему мы не используем <br />
        coreldraw
      </h1>
    </div>

    <img
      class="hero__img"
      src="../img/hero.png"
      alt="Телевизор"
      loading="lazy"
      width="1070"
      height="648"
    />
  </section>
  <div class="background">
    <div class="container inner">
      <section class="content">
        <h2 class="visually-hidden">
          Преимущества и напрвления формата Adobe и недостатки CorelDraw.
        </h2>
        <h3 class="content__text text">
          В мире дизайна мы сделали выбор в пользу Adobe, оставив за бортом
          формат CorelDraw. Давайте разберем, почему именно Adobe стал нашим
          надежным союзником в творчестве.
        </h3>
        <article class="content__one">
          <img src="../img/1.svg" class="one" alt="Один" />
          <div class="content__one-container">
            <h3 class="text">
              Adobe - это компания, представляющая широкий спектр продуктов,
              среди которых вы, вероятно, знакомы с основными: 
            </h3>
            <div class="content__one-card">
              <div class="content__one-item">
                <img
                  src="../img/adobe-illustrator.svg"
                  alt="Adobe Illustrator"
                  width="122"
                  height="40"
                  loading="lazy"
                />
              </div>
              <div class="content__one-item">
                <img
                  src="../img/pdf.svg"
                  alt="PDF"
                  width="53"
                  height="54"
                  loading="lazy"
                />
              </div>
              <div class="content__one-item">
                <img
                  src="../img/adobe-premiere.svg"
                  alt="Adobe Premiere"
                  width="159"
                  height="39"
                  loading="lazy"
                />
              </div>
              <div class="content__one-item">
                <img
                  src="../img/adobe-photoshop.svg"
                  alt="Adobe Photoshop"
                  width="135"
                  height="40"
                  loading="lazy"
                />
              </div>
              <div class="content__one-item">
                <img
                  src="../img/adobe-indesign.svg"
                  alt="Adobe Indesign"
                  width="135"
                  height="39"
                  loading="lazy"
                />
              </div>
              <div class="content__one-item">
                <img
                  src="../img/adobe-after-effects.svg"
                  alt="Adobe After Effects"
                  width="146"
                  height="39"
                  loading="lazy"
                />
              </div>
              <h4>а также более 90 других продуктов</h4>
            </div>
          </div>
        </article>
        <h3 class="text">
          Более тысячи специалистов по всему миру активно участвуют в разработке
          и обеспечивают высокое качество продуктов и их разнообразные
          возможности. <br />
          <br />
          В то время как CorelDraw ограничивается только CorelDraw.
        </h3>
        <article class="content__two">
          <img src="../img/2.svg" class="two" alt="Два" />
          <h3 class="content__text-two text">
            Поддержка CorelDraw практически отсутствует в Европе и США,
            поскольку более 98% типографий в этих регионах не используют данный
            формат.
          </h3>
        </article>
        <article class="content__three">
          <img src="../img/3.svg" class="three" alt="Два" />
          <h3 class="text">
            Главный недостаток CorelDraw заключается в преобразовании документа
            во внутренний формат bitmap. Это особенно заметно при обработке
            растровых изображений, где могут возникнуть различные артефакты,
            такие как неожиданные грани, изменение цветов или полная инверсия
            изображения.
          </h3>
        </article>
        <div class="content__image">
          <img
            class="content__image-error"
            src="../img/error.png"
            alt="Ошибка"
            width="255"
            height="157"
            loading="lazy"
          />
          <img
            class="content__image-unavailable"
            src="../img/unavailable.png"
            alt="Формат недоступен"
            width="261"
            height="178"
            loading="lazy"
          />
        </div>
        <h3 class="text">
          В отличие от этого, Illustrator лишен подобных неожиданностей и
          обладает полной совместимостью с форматами PDF и EPS, необходимыми для
          полиграфии. Важно отметить, что, несмотря на возможность сохранения
          файлов в формате PDF, CorelDraw плохо распознает PDF файлы, что может
          привести к потере некоторых элементов макета. Поэтому при подготовке
          макета для офсетной полиграфии Illustrator остается оптимальным
          выбором.
        </h3>
        <article class="content__booklet">
          <img
            class="content__booklet-scheme"
            src="../img/pdf-arrow.svg"
            alt="Схема"
          />
          <div class="content__booklet-left">
            <img class="scheme-left" src="../img/ai.svg" alt="Левая часть" />
            <img
              class="content__booklet-img none"
              src="../img/l-1.png"
              alt="Буклет"
            />
            <img
              class="content__booklet-img none"
              src="../img/l-2.png"
              alt="Буклет"
            />
            <img
              class="content__booklet-img"
              src="../img/l-3.png"
              alt="Буклет"
            />
          </div>
          <div class="content__booklet-right">
            <img class="scheme-right" src="../img/r.svg" alt="Правая часть" />
            <img
              class="content__booklet-img"
              src="../img/r-1.png"
              alt="Буклет"
            />
          </div>
        </article>
        <article class="content-four">
          <img src="../img/4.svg" alt="Четыре" />
          <h3 class="text">
            Современная лицензия CorelDraw может оцениваться в 600 долларов в
            год на одного пользователя, что может быть финансово недоступным для
            многих типографий. Из-за этого они вынуждены использовать устаревшие
            версии программы, что может привести к искаженному отображению
            контента.
          </h3>
        </article>
        <article class="content-five">
          <img src="../img/5.svg" alt="Пять" />
          <h3 class="text">
            Обучение наших дизайнеров работе в CorelDraw требовало бы
            значительного времени. Учитывая, что это формат с тенденцией к
            упадку, вкладывание человеческого капитала в него становится
            неоправданно.
          </h3>
        </article>
        <h3 class="text">
          ​​Используя среду Adobe, мы вкладываемся в инновации, качество и
          признание в мировом масштабе. Присоединяйтесь к нам в этом
          увлекательном путешествии в мир творчества, где каждый проект
          становится настоящим произведением искусства.
        </h3>
      </section>
      <aside class="aside">
        <div class="aside__card background-corelDraw">
          <div class="aside__card-gradient">
            <div class="aside__card-content">
              <div class="aside__card-text">
                <span class="aside__card-overtext"
                  >почему мы не используем</span
                >
                <span class="aside__card-subtext">CorelDraw</span>
              </div>
              <a href="#" class="aside__card-link">
                <svg
                  width="56"
                  height="56"
                  viewBox="0 0 56 56"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g filter="url(#filter0_di_1_32)">
                    <circle
                      cx="25.8493"
                      cy="25.7181"
                      r="17.9348"
                      fill="url(#paint0_linear_1_32)"
                    />
                  </g>
                  <path
                    d="M18.4363 25.479C18.1721 25.479 17.958 25.6931 17.958 25.9573C17.958 26.2214 18.1721 26.4355 18.4363 26.4355V25.479ZM33.7406 25.9573L28.958 23.196V28.7185L33.7406 25.9573ZM18.4363 26.4355L29.4363 26.4355V25.479L18.4363 25.479V26.4355Z"
                    fill="white"
                  />
                  <defs>
                    <filter
                      id="filter0_di_1_32"
                      x="0.262376"
                      y="0.131151"
                      width="55"
                      height="54.9999"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dx="1.91304" dy="1.91304" />
                      <feGaussianBlur stdDeviation="4.78261" />
                      <feComposite in2="hardAlpha" operator="out" />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 0.87451 0 0 0 0 0.313726 0 0 0 0 0.0901961 0 0 0 1 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="BackgroundImageFix"
                        result="effect1_dropShadow_1_32"
                      />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="effect1_dropShadow_1_32"
                        result="shape"
                      />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dx="1.91304" dy="1.91304" />
                      <feGaussianBlur stdDeviation="1.43478" />
                      <feComposite
                        in2="hardAlpha"
                        operator="arithmetic"
                        k2="-1"
                        k3="1"
                      />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="shape"
                        result="effect2_innerShadow_1_32"
                      />
                    </filter>
                    <linearGradient
                      id="paint0_linear_1_32"
                      x1="6.35706"
                      y1="7.78333"
                      x2="47.5181"
                      y2="8.67841"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#DF5017" />
                      <stop offset="1" stop-color="#F9CB74" />
                    </linearGradient>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="aside__card background-team">
          <div class="aside__card-gradient">
            <div class="aside__card-content">
              <div class="aside__card-text">
                <span class="aside__card-overtext"
                  >в команде Creat работают</span
                >
                <span class="aside__card-subtext">только лучшие</span>
              </div>
              <a href="#" class="aside__card-link">
                <svg
                  width="56"
                  height="56"
                  viewBox="0 0 56 56"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g filter="url(#filter0_di_1_32)">
                    <circle
                      cx="25.8493"
                      cy="25.7181"
                      r="17.9348"
                      fill="url(#paint0_linear_1_32)"
                    />
                  </g>
                  <path
                    d="M18.4363 25.479C18.1721 25.479 17.958 25.6931 17.958 25.9573C17.958 26.2214 18.1721 26.4355 18.4363 26.4355V25.479ZM33.7406 25.9573L28.958 23.196V28.7185L33.7406 25.9573ZM18.4363 26.4355L29.4363 26.4355V25.479L18.4363 25.479V26.4355Z"
                    fill="white"
                  />
                  <defs>
                    <filter
                      id="filter0_di_1_32"
                      x="0.262376"
                      y="0.131151"
                      width="55"
                      height="54.9999"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dx="1.91304" dy="1.91304" />
                      <feGaussianBlur stdDeviation="4.78261" />
                      <feComposite in2="hardAlpha" operator="out" />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 0.87451 0 0 0 0 0.313726 0 0 0 0 0.0901961 0 0 0 1 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="BackgroundImageFix"
                        result="effect1_dropShadow_1_32"
                      />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="effect1_dropShadow_1_32"
                        result="shape"
                      />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dx="1.91304" dy="1.91304" />
                      <feGaussianBlur stdDeviation="1.43478" />
                      <feComposite
                        in2="hardAlpha"
                        operator="arithmetic"
                        k2="-1"
                        k3="1"
                      />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="shape"
                        result="effect2_innerShadow_1_32"
                      />
                    </filter>
                    <linearGradient
                      id="paint0_linear_1_32"
                      x1="6.35706"
                      y1="7.78333"
                      x2="47.5181"
                      y2="8.67841"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#DF5017" />
                      <stop offset="1" stop-color="#F9CB74" />
                    </linearGradient>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="aside__card background-design">
          <div class="aside__card-gradient">
            <div class="aside__card-content">
              <div class="aside__card-text">
                <span class="aside__card-overtext">откуда мы черпаем идеи</span>
                <span class="aside__card-subtext">для дизайна</span>
              </div>
              <a href="#" class="aside__card-link">
                <svg
                  width="56"
                  height="56"
                  viewBox="0 0 56 56"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g filter="url(#filter0_di_1_32)">
                    <circle
                      cx="25.8493"
                      cy="25.7181"
                      r="17.9348"
                      fill="url(#paint0_linear_1_32)"
                    />
                  </g>
                  <path
                    d="M18.4363 25.479C18.1721 25.479 17.958 25.6931 17.958 25.9573C17.958 26.2214 18.1721 26.4355 18.4363 26.4355V25.479ZM33.7406 25.9573L28.958 23.196V28.7185L33.7406 25.9573ZM18.4363 26.4355L29.4363 26.4355V25.479L18.4363 25.479V26.4355Z"
                    fill="white"
                  />
                  <defs>
                    <filter
                      id="filter0_di_1_32"
                      x="0.262376"
                      y="0.131151"
                      width="55"
                      height="54.9999"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dx="1.91304" dy="1.91304" />
                      <feGaussianBlur stdDeviation="4.78261" />
                      <feComposite in2="hardAlpha" operator="out" />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 0.87451 0 0 0 0 0.313726 0 0 0 0 0.0901961 0 0 0 1 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="BackgroundImageFix"
                        result="effect1_dropShadow_1_32"
                      />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="effect1_dropShadow_1_32"
                        result="shape"
                      />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dx="1.91304" dy="1.91304" />
                      <feGaussianBlur stdDeviation="1.43478" />
                      <feComposite
                        in2="hardAlpha"
                        operator="arithmetic"
                        k2="-1"
                        k3="1"
                      />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="shape"
                        result="effect2_innerShadow_1_32"
                      />
                    </filter>
                    <linearGradient
                      id="paint0_linear_1_32"
                      x1="6.35706"
                      y1="7.78333"
                      x2="47.5181"
                      y2="8.67841"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#DF5017" />
                      <stop offset="1" stop-color="#F9CB74" />
                    </linearGradient>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="aside__card background-team">
          <div class="aside__card-gradient">
            <div class="aside__card-content">
              <div class="aside__card-text">
                <span class="aside__card-overtext"
                  >в команде Creat работают</span
                >
                <span class="aside__card-subtext">только лучшие</span>
              </div>
              <a href="#" class="aside__card-link">
                <svg
                  width="56"
                  height="56"
                  viewBox="0 0 56 56"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g filter="url(#filter0_di_1_32)">
                    <circle
                      cx="25.8493"
                      cy="25.7181"
                      r="17.9348"
                      fill="url(#paint0_linear_1_32)"
                    />
                  </g>
                  <path
                    d="M18.4363 25.479C18.1721 25.479 17.958 25.6931 17.958 25.9573C17.958 26.2214 18.1721 26.4355 18.4363 26.4355V25.479ZM33.7406 25.9573L28.958 23.196V28.7185L33.7406 25.9573ZM18.4363 26.4355L29.4363 26.4355V25.479L18.4363 25.479V26.4355Z"
                    fill="white"
                  />
                  <defs>
                    <filter
                      id="filter0_di_1_32"
                      x="0.262376"
                      y="0.131151"
                      width="55"
                      height="54.9999"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dx="1.91304" dy="1.91304" />
                      <feGaussianBlur stdDeviation="4.78261" />
                      <feComposite in2="hardAlpha" operator="out" />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 0.87451 0 0 0 0 0.313726 0 0 0 0 0.0901961 0 0 0 1 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="BackgroundImageFix"
                        result="effect1_dropShadow_1_32"
                      />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="effect1_dropShadow_1_32"
                        result="shape"
                      />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dx="1.91304" dy="1.91304" />
                      <feGaussianBlur stdDeviation="1.43478" />
                      <feComposite
                        in2="hardAlpha"
                        operator="arithmetic"
                        k2="-1"
                        k3="1"
                      />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="shape"
                        result="effect2_innerShadow_1_32"
                      />
                    </filter>
                    <linearGradient
                      id="paint0_linear_1_32"
                      x1="6.35706"
                      y1="7.78333"
                      x2="47.5181"
                      y2="8.67841"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#DF5017" />
                      <stop offset="1" stop-color="#F9CB74" />
                    </linearGradient>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</main>
