* {
    box-sizing: border-box;
}

body {
    background-color: #1C273C;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.header {
    margin: 80px 0 144px 0;

}

.header-title {
    color: #E9C597;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin: 0 0 0 0;

}

.tasks-panel {
    width: 972px;
    height: 518px;
    display: flex;
}

.left-panel {
    width: 280px;
    height: 514px;
    padding: 0 15px 0 15px;
    background: #354259;
    border-radius: 10px;
}

.title-left-panel {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.right-panel {
    width: 680px;
    height: 518px;
    padding: 0 15px 0 15px;
    background: #354259;
    border-radius: 10px;
}