:root {
    --global-bg-color: #1C273C;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--global-bg-color);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 15px 257px 15px
}

.surface {
    background-color: #354259;
    border-radius: 10px;
    border-bottom: 2px solid #26A7B8;
}

.surface-button {
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.surface-button:hover {
    box-shadow: 0px 0px 15px 5px #00ebff;
}

.scroll {
    overflow-y: auto;
    scroll-snap-align: start;
}

.scroll::-webkit-scrollbar {
    width: 10px;
    padding: 0 5px 0 5px;
}

.scroll::-webkit-scrollbar-track {
    background: #354259;
    /* цвет зоны отслеживания */
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #26A7B8;
    /* цвет бегунка */
    border-radius: 10px;
    /* округлось бегунка */
    border: 3px solid #354259;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #2297a7;
}

.header {
    padding-bottom: 114px;
}

.header-title {
    color: #E9C597;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin: 0;

}

.work-space {
    display: flex;
    justify-content: center;
    gap: 12px;

}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    height: 514px;

}

.header-categories {
    padding: 25px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title-categories {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 0 5px 0 5px;
}

.categories-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px 0 25px;

}

.button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 10px;
    border: none;
    margin: 5px 0 5px;
    flex-shrink: 0;
}

.button-completed {
    background-color: #4CAF50;
}

.button-urgent {
    background-color: #FF5252;
}

.button-important {
    background-color: #FFC107;
}

.button-later {
    background-color: #9C27B0;
}

.button-to-study {
    background-color: #26A7B8;
}

.footer-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 41px 19px 41px;
}

.button-add-category {
    width: 100%;
    height: 31px;
    border-radius: 10px;
    background: #44A0A0;
    color: #F6F6F6;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 800;
    line-height: 18px;
    border: none;
}

.tasks {
    display: flex;
    flex-direction: column;
    min-width: 650px;
    gap: 12px;
}

.header-tasks {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 0 14px 0 20px;
}

.number-of-tasks {
    color: #44A0A0;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

.button-add {
    width: 200px;
    height: 31px;
    border-radius: 10px;
    background: #44A0A0;
    color: #F6F6F6;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 18px;
    border: none;
}

.button-clear-completed {
    color: #44A0A0;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    background: none;
}

.task-list {
    display: flex;
    flex-direction: column;
    height: 449px;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-shrink: 0;
    height: 80px;
    border-bottom: 1px solid #F6F6F6;
    padding: 0 20px 0 20px;
}

.subtitle {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
}

.button-right-panel {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 10px;
    border: none;

}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
}

.button-filters-active {
    color: #44A0A0;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    background: none;
}

.button-filters-all {
    color: #F6F6F6;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    background: none;
}

.button-filters-completed {
    color: #44A0A0;
    font-family: 'Open Sans';
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    background: none;
}

.mobile {
    display: none;
}

.button-add-mobile {
    display: none;
}

@media (max-width:900px) {
    :root {
        font-size: 14.4px;
    }



    .header {
        padding: 0 0 52px;
    }

    .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 17px;
        border-radius: 15px;
        background: #354259;
        box-shadow: 0px 4px 0px 0px #38938A;
        width: 160px;
        height: 30px;
    }

    .button-add-mobile {
        display: contents;
        color: #F6F6F6;
        text-align: center;
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 800;
        line-height: 16.2px;
    }

    .categories.surface {
        display: none;
    }

    .header-tasks.surface {
        display: none;
    }

    .tasks {
        min-width: 300px;
    }

    .scroll {
        direction: rtl;
        overflow-y: auto;
    }

    .task {
        position: relative;
        height: 70px;
        direction: ltr;
    }

    .subtitle {
        margin-right: 20px;
    }

    .button-right-panel {
        border-radius: 0;
        font-size: 11px;
        font-weight: 600;
        transform: rotate(-90deg);
        width: 70px;
        height: 30px;
        position: absolute;
        right: -20px;
        border-left: 1px solid #F6F6F6;
    }

    .check-completed {
        width: 25px;
        height: 25px;
    }

    .subtitle {
        font-size: 16px;

    }
}