:root {
    --global-bg-color: #1C273C;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--global-bg-color);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.header {
    margin: 5em 0 9em 0;

}

.header-title {
    color: #E9C597;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 0 0 0;

}

.tasks-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-panel {

    max-width: 282px;
    max-height: 516px;
    padding: 0 15px 0 15px;
    background: #354259;
    border-radius: 1.6em;
}

.title-left-panel {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.right-panel {
    width: 680px;
    height: 518px;
    padding: 0 15px 0 15px;
    background: #354259;
    border-radius: 1.6em;
}