.modal-button-category {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 30px);
    justify-content: center;
    align-self: center;
    gap: 20px;
    padding: 31px 36px 104px 44px;
    margin: 0;
}

.submit {
    margin: 0 auto;
    width: 182px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #44A0A0;
    background: #FFF;
    text-align: center;
    font-weight: 800;
    line-height: 200%;
    color: #44A0A0;
    margin-bottom: 26px;
}