* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 5px;
}

.header {
    width: 100%;
    height: 66px;

}

.form {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.input {
    width: 100%;
    height: 28px;
}

.form__button {
    width: 36px;
    height: 36px;
    border-radius: 20px;
    border: solid 1px black;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}