* {
    box-sizing: border-box;
}

body {
    width: 980px;
    margin: 0 auto;
}

.wrapper {
    padding-right: 20px;
}

.row {
    clear: both;
}

.col {
    float: left;
    margin-left: 20px;
    width: 60px;
    background: rgb(255, 150, 150);
}

Copy to Clipboard / * Ширина двух колонок (120 пикселей) плюс одна ширина желоба (20 пикселей) */ .col.span2 {
    width: 140px;
}

/ * Три ширины столбца (180 пикселей) плюс две ширины желоба (40 пикселей) * / .col.span3 {
    width: 220px;
}

/* И так далее... */
.col.span4 {
    width: 300px;
}

.col.span5 {
    width: 380px;
}

.col.span6 {
    width: 460px;
}

.col.span7 {
    width: 540px;
}

.col.span8 {
    width: 620px;
}

.col.span9 {
    width: 700px;
}

.col.span10 {
    width: 780px;
}

.col.span11 {
    width: 860px;
}

.col.span12 {
    width: 940px;
}