<footer class="footer background">
  <div class="carousel__top basic">
    <div class="group">
      <img
        class="card"
        src="../img/slider-top1.png"
        alt="Краска"
        width="411"
        height="280"
        loading="lazy"
      />
      <img
        class="card"
        src="../img/slider-top2.png"
        alt="Кофе"
        width="411"
        height="280"
        loading="lazy"
      />
      <img
        class="card"
        src="../img/slider-top3.png"
        alt="Телевизор"
        width="411"
        height="280"
        loading="lazy"
      />
      <img
        class="card"
        src="../img/slider-top4.png"
        alt="Отель"
        width="411"
        height="280"
        loading="lazy"
      />
      <img
        class="card"
        src="../img/slider-top5.png"
        alt="Подарочный сертификат"
        width="411"
        height="280"
        loading="lazy"
      />
    </div>
    <div aria-hidden="true" class="group">
      <img
        class="card"
        src="../img/slider-top1.png"
        alt="Краска"
        width="411"
        height="280"
        loading="lazy"
      />
      <img
        class="card"
        src="../img/slider-top2.png"
        alt="Кофе"
        width="411"
        height="280"
        loading="lazy"
      />
      <img
        class="card"
        src="../img/slider-top3.png"
        alt="Телевизор"
        width="411"
        height="280"
        loading="lazy"
      />
      <img
        class="card"
        src="../img/slider-top4.png"
        alt="Отель"
        width="411"
        height="280"
        loading="lazy"
      />
      <img
        class="card"
        src="../img/slider-top5.png"
        alt="Подарочный сертификат"
        width="411"
        height="280"
        loading="lazy"
      />
    </div>
  </div>
</footer>
