@use "variables" as *;
@use "../helpers/index" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding: 48px var(--container-padding-x) 48px var(--container-padding-x);

  @include mobile-s {
    padding: 48px var(--container-padding-x) 12px var(--container-padding-x);
  }
}

.inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inner-card {
  padding: 48px 0;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}